.bgimage {  
     /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.logo {
	display: inline-block;
	float: left;
}
.imgcolor {
	color: (100, 43, 210, .4);
	object-position: top;
}
p {
	font-size: 80%;
}

ol {
	font-size: 80%;
}

a {
	display: inline;
	float: right;
	font-family: arial;
	margin: 10px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:link {
    color: black;
}

a:visited {
    color: red;
}

a:hover {
    color: firebrick;
}

a:active {
    color: blue;
}