.bgimage {  
     /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.logo {
	display: inline-block;
	float: left;
}
.imgcolor {
	color: (100, 43, 210, .4);
	object-position: top;
}
p {
	font-size: 80%;
}

ol {
	font-size: 80%;
}

a {
	display: inline;
	float: right;
	font-family: arial;
	margin: 10px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a:link {
    color: black;
}

a:visited {
    color: red;
}

a:hover {
    color: firebrick;
}

a:active {
    color: blue;
}
div.float-right { 
	float: right; 
	background:#0f0; 
	width:100px;
	height:100px; 
	margin: 0 20px 0 0; }

.clearfix:after { 
	clear: both; 
}
h1{
	font-family: arial;
	font-size: 28px;
}
div.about {
	float: right;
	position:relative;
	text-align: justify;
	padding: 20px;
	margin-top: 100px;
	width: 250px;
	height: 300px;
	background-color: (240,128,128);
	font: black;
	font-family: arial;
	font-size: 20px;
}